body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 60px 0;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}

/*border cards
-------------------------*/
.box {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}


    .box::before {
        content: "";
        position: absolute;
        width: 550px;
        height: 600px;
        background-image: conic-gradient(transparent,transparent,transparent, #00ffad);
        animation: rotate 4s linear infinite;
    }

    .box::after {
        content: "";
        position: absolute;
        width: 550px;
        height: 600px;
        background-image: conic-gradient(transparent,transparent,transparent, #0063cc);
        animation: rotate 4s linear infinite;
        animation-delay: -2s;
    }

    .box span {
        position: absolute;
        inset: 10px;
        border-radius: 16px;
        background-image: url(images/abel.jpg);
        z-index: 2;
    }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.box1 {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

    .box1::before {
        content: "";
        position: absolute;
        width: 550px;
        height: 600px;
        background-image: conic-gradient(transparent,transparent,transparent, rgb(255, 242, 0));
        animation: rotate 4s linear infinite;
    }

    .box1::after {
        content: "";
        position: absolute;
        width: 550px;
        height: 600px;
        background-image: conic-gradient(transparent,transparent,transparent, #ff0000);
        animation: rotate 4s linear infinite;
        animation-delay: -2s;
    }

    .box1 span {
        position: absolute;
        inset: 10px;
        border-radius: 16px;
        background-image: url(images/raquel.jpg);
        z-index: 2;
    }
